# Virtual environment
env/
venv/
ENV/


# Python cache
__pycache__/
*.py[cod]
*.pyo

# VS Code settings
.vscode/

# macOS
.DS_Store

# Pytest cache
.pytest_cache/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pycharm
.idea/

# Environment variable files
.env

/profile
/archive
/logs
/results
Extensions/
list.txt
url.txt
tree.py
setup_profile.py
env_example.txt
details.md
