# Konfigurasi Browser
BROWSER_USER_DATA_DIR=./profile
BROWSER_HEADLESS=False
BROWSER_ARGS=--disable-component-update,--no-sandbox,--disable-dev-shm-usage,--disable-webgl,--disable-blink-features=AutomationControlled,--disable-infobars
BROWSER_IGNORE_DEFAULT_ARGS=--enable-automation,--disable-extensions

# Konfigurasi Extensions
# PENTING: Sesuaikan path ini dengan lokasi ekstensi di sistem Anda
EXTENSIONS_PATHS=C:\\Users\\username\\FilecryptScraper_MkvDrama\\Extensions\\uBlock

# Konfigurasi Logging
LOG_DIR=logs
LOG_LEVEL=INFO
LOG_FORMAT=%(asctime)s - %(levelname)-4s - %(message)s
LOG_DATEFMT=%Y-%m-%d %H:%M:%S

# Konfigurasi Timeouts (dalam milidetik atau detik)
TIMEOUT_SELECTOR_WAIT=10000
TIMEOUT_POPUP=5000
TIMEOUT_PAGE_LOAD=30000
TIMEOUT_PASSWORD_CHECK=5
TIMEOUT_CAPTCHA_CHECK=5
TIMEOUT_BATCH_DELAY=1
TIMEOUT_CAPTCHA=300
TIMEOUT_PASSWORD=300

# Konfigurasi Provider
SEND_ALIASES=send.cm,sendit.cloud,send.co,send.now,send.com,send.cw

# Konfigurasi Pixeldrain
PIXELDRAIN_BYPASS_URLS=https://cdn.pd1.workers.dev/api/file/CODE-FILE,https://cdn.pd7.workers.dev/api/file/CODE-FILE,https://cdn.pd8.workers.dev/api/file/CODE-FILE,https://cdn.pd10.workers.dev/api/file/CODE-FILE

# User Agents
USER_AGENTS=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36,Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:136.0) Gecko/20100101 Firefox/136.0

# Konfigurasi Scraper
SCRAPER_BATCH_PROCESSING=True
SCRAPER_MAX_BATCH_SIZE=8
